version: '3'
services:
  app:
    build: .
    networks:
      - backend
    container_name: app
    ports:
      - 9000:9000
    volumes:
      - ./src/:/usr/src/app/src:rw
  mongo:
    image: mongo
    ports:
      - 27017:27017
    networks:
      - backend
    container_name: mongo

networks:
  backend:

volumes:
  src:
